{% load static %}
<div class="project project-list-item">
    <div class="project-cover">
        <img src="{% static 'img/spotify.png' %}" alt="spotify">
    </div>
    <div class="project-title-container">
        <h2 class="recipe-title">
            Projeto Clone SPOTIFY
        </h2>
    </div>

    <div class="project-author">
        <span class="project-author-item">
            <i class="fas fa-user"></i>
            Vanthuir Maia
        </span>
        <span class="project-author-item">
            <i class="fas fa-calendar-alt"></i>
            08/09/2024 às 18:21
        </span>
        <span class="project-author-item">
            <a href="/recipes/category/UDEMY">
                <i class="fas fa-layer-group"></i>
                <span>UDEMY</span>
            </a>
        </span>
    </div>

    <div class="project-content">
        <p>Site clone do Spotify, feito através do curso de desenvolvimento web da plataforma UDEMY.</p>
    </div>

    <div class="project-meta-container">
        <div class="project-meta project-preparation">
            <h3 class="project-meta-title"><i class="fas fa-stopwatch"></i> Tempo de Desenvolvimento</h3>
            <div class="project-meta-text">
                5 dias
            </div>
        </div>
        <div class="project-meta project-servings">
            <h3 class="project-meta-title"><i class="fas fa-pizza-slice"></i> Participantes</h3>
            <div class="project-meta-text">
                1 Participante
            </div>
        </div>
    </div>

    <footer class="project-footer">
        <a class="project-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>


</div>

